<% provide(:title, "1") %>

<h4>Search for a word to be highlighted:</h4>
<%= form_tag(static_pages_proverbs1_path, method: :get) do %>
	<%= text_field_tag :proverb %>
	<%= submit_tag 'Search' %>
<% end %>
<br><br>

<div class="row">

	<% @sorted = @newHash.sort_by { |key, value| value}.reverse.to_h %>
	<%= @sorted %>

	<br><br><br>
	<%= render partial: 'partials/index_partial', locals: { proverb: @proverbs1 } %>

	<% if params[:commit] %>
		<div class="col-sm">
			<%= render partial: 'partials/html_mapping', locals: { chapter_num: @common, key_values: @key_values, client: @client } %><br><br>
		</div>
	<% end %>

</div>
