<% provide(:title, "17") %>

<h4>Search for a word to be highlighted:</h4>
<%= form_tag(static_pages_proverbs17_path, method: :get) do %>
	<%= text_field_tag :proverb %>
	<%= submit_tag 'Search' %>
<% end %>
<br><br>

<div class="row">
	
	<%= render partial: 'partials/index_partial', locals: { proverb: @proverbs17 } %>

	<% if params[:commit] %>
		<div class="col-sm">
			<%= render partial: 'partials/html_mapping', locals: { chapter_num: @common, key_values: @key_values, client: @client } %><br><br>
		</div>
	<% end %>

</div>
