<% provide(:title, "1") %>

<h4>Search for a word to be highlighted:</h4>
<%= form_tag(static_pages_proverbs1_path, method: :get) do %>
	<%= text_field_tag :proverb %>
	<%= submit_tag 'Search' %>
<% end %>
<br><br>


	<div class="col-sm">
		<p>
			<% @proverbs1.each do |prov| %>
				<% if !@params.nil? %>
					<% if prov.include? @params %>
						<%= prov.sub("#{@params}", "<b>#{@params}</b>").html_safe %><br>
					<% else %> 
						<%= prov %> <br>
					<% end %> 
				<% else %>
					<%= prov %> <br>
				<% end %> 
			<% end %>
		</p>
	</div>

  <div class="col-sm">
		<%= partial: 'partials/html_mapping', locals: { chapter_num: @common } %><br><br>
	</div>

</div>
