<!-- 
		 Partial page for Box and Whisker Plot per chapter.
		 Associated Javascript getBoxWhiskerPlotConfig() method is 
		 located at app/assets/javascripts/charts/box_whisker_plot.js 
-->

<div id="bwpChart"></div>

<script>

	zingchart.render({ 
		id : 'bwpChart', 
		data : getBoxWhiskerPlotConfig('<%= bwp.least %>', '<%= bwp.first_quartile %>', '<%= bwp.median %>', '<%= bwp.third_quartile %>', '<%= bwp.greatest %>','<%= @numChap %>'),
		height: "99%", 
		width: "99%"
	});

</script>
