<!-- 
		Partial for printing out chapters' verses, verse by verse.
		If a word is searched and is found in a verse, the searched word
		is bolded and printed in place or original word.
-->

	<%= @versesIntro %>

	<p id="p-verses">
		<% proverb.each do |prov| %>

			<% if !@params.nil? %>

						<% if (prov.include? @params) or (prov.include? @params.capitalize) or (prov.include? @params.upcase) %>

								<% if @params.capitalize == @params %>
									<%= prov.sub("#{@params}", "<i>#{@params}</i>").html_safe %><br>
								<% elsif (prov.include? @params.upcase) %>
									<%= prov.sub("#{@params.upcase}", "<b>#{@params.upcase}</b>").html_safe %><br>
								<% else %>
									<%= prov.sub("#{@params.capitalize}", "<b>#{@params.capitalize}</b>").html_safe %><br>
								<% end %>

						<% else %>
							<%= prov %> <br>
						<% end %>

			<% else %>
				<%= prov %> <br>
			<% end %>


		<% end %>

	<%= @apaCitation %>

	</p>

