
<div class="col-sm">
	<h1>Proverbs <%= @numChap %></h1>
	<p>
		<% proverb.each do |prov| %>

			<% if !@params.nil? %>

						<% if (prov.include? @params) or (prov.include? @params.capitalize) or (prov.include? @params.upcase) %>

								<% if @params.capitalize == @params %>
									<%= prov.sub("#{@params}", "<i>#{@params}</i>").html_safe %><br>
								<% elsif (prov.include? @params.upcase) %>
									<%= prov.sub("#{@params.upcase}", "<b>#{@params.upcase}</b>").html_safe %><br>
								<% else %>
									<%= prov.sub("#{@params.capitalize}", "<b>#{@params.capitalize}</b>").html_safe %><br>
								<% end %>

						<% else %>
							<%= prov %> <br>
						<% end %>

			<% else %>
				<%= prov %> <br>
			<% end %>


		<% end %>
	<br><small>APA Citation: Zondervan, (1995) <i>The NIV Study Bible.</i> Grand Rapids, Michigan: Zondervan<br></small>
	</p>
</div>

