<html>
  <head>
    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
    <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</html>
    <div id='wordChart'></div>

<style>
html {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
#wordChart {
  height:100%;
  width:100%;
  min-height:150px;
}
.zc-ref {
  display:none;
}
</style>

<% @sw = StopWord.all.pluck(:word) %>
<%= @sw.class %><br>

<% @total = Array.new %>
<% proverb.each do |prov| %>
	<% @total.push(prov) %>
<% end %>

<% @newT =  @total.join(" ") %><br>
<%= @newT %><br>
<%= @newT.class %><br>

<script>

	var myConfig = {
		type: 'wordcloud',
		options: {
			text: '<%= @newT %>',
			minLength: 5,
			ignore: '<%= @sw %>',
			maxItems: 40,
			aspect: 'flow-center',
			rotate: true,
			colorType: 'palette',
			palette: ['#D32F2F','#5D4037','#1976D2','#E53935','#6D4C41','#1E88E5','#F44336','#795548','#2196F3','#EF5350','#8D6E63','#42A5F5'],
			
			style: {
				fontFamily: 'Crete Round',
				
				hoverState: {
					backgroundColor: '#D32F2F',
					borderRadius: 2,
					fontColor: 'white'
				},
				tooltip: {
					text: '%text: %hits',
					visible: true,
					
					alpha: 0.9,
					backgroundColor: '#1976D2',
					borderRadius: 2,
					borderColor: 'none',
					fontColor: 'white',
					fontFamily: 'Georgia',
					textAlpha: 1
				}
			}
		},
		
		source: {
			text: '',
			//Source: https://obamawhitehouse.archives.gov/the-press-office/2015/03/07/remarks-president-50th-anniversary-selma-montgomery-marches
			fontColor: '#64B5F6',
			fontSize: 10,
			fontFamily: 'Georgia',
			fontWeight: 'normal',
			marginBottom: '10%'
		}
	};

	zingchart.render({ 
		id: 'wordChart', 
		data: myConfig, 
		height: 400, 
		width: '100%' 
	});

</script>
