<!DOCTYPE html>
<html>
	<head>
		<script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
		<script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
		ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script></head>
	<body>
		<div id='myChart'></div>
	</body>
</html>



<% @oVal = Array.new %>
<% @val = @newHash.values %>

<br><br><br>

<% @val = @val.sort { |a, b| a <=> b} %>


<%= @bwp.inspect %>

<br><br>

<% @bwpVals = Array.new %>
<% @bwpVals.push(@bwp.least) %>
<% @bwpVals.push(@bwp.first_quartile) %>
<% @bwpVals.push(@bwp.median) %>
<% @bwpVals.push(@bwp.third_quartile) %>
<% @bwpVals.push(@bwp.greatest) %>

<!--%= @oVal.push(@val) %-->
<%= @oVal.push(@bwpVals) %>

<br><br><br>

<%= @newHash.sort_by {|_key, value| value} %>



<br><br><br>



<style>
html,body,#myChart{
 height: 100%;
 width: 100%;
}
</style>


<script>

var bwpVals = '<%= @bwpVals %>';
console.log("bwpVals: " + bwpVals);
console.log("typeof(bwpVals): " + typeof(bwpVals));

var bwp = [];
bwp.push(parseInt('<%= @bwp.least %>'));
bwp.push(parseInt('<%= @bwp.first_quartile %>'));
bwp.push(parseInt('<%= @bwp.median %>'));
bwp.push(parseInt('<%= @bwp.third_quartile %>'));
bwp.push(parseInt('<%= @bwp.greatest %>'));

var myConfig = {
    "graphset":[
        {
            "type":"hboxplot",
            "plotarea":{ "margin":"100" },
            "scaleX":{
                "guide":{ "visible":false },
                "label":{ "text":"Experiment No." },
                "values":["1"]
            },
            "scaleY":{
                "label":{ "text":"Observations" }
            },
            tooltip:{
              paddingBottom:20
            },
            "options":{
                "box":{
                    "barWidth":0.5,
                    "tooltip":{
                        "text":"<span style=\"font-style:italic;\">Experiment no. %scale-key-text</span><br><b style=\"font-size:15px;\">Observations:</b><br><br>Maximum: <b>%data-max</b><br>Upper Quartile: <b>%data-upper-quartile</b><br>Median: <b>%data-median</b><br>Lower Quartile: <b>%data-lower-quartile</b><br>Minimum: <b>%data-min</b>"
                    }
                },
                "outlier":{
                    "tooltip":{
                        "text":"<span style=\"font-style:italic;\">Experiment no. %scale-key-text</span><br><b style=\"font-size:15px;\">Observation: %node-value</b>"
                    },
                    "marker":{ "type":"circle" }
                }
            },
            "series":[
                { "dataBox": [bwp], }
            ]
        }
    ]
};

zingchart.render({ 
	id : 'myChart', 
	data : myConfig, 
	height: "100%", 
	width: "100%"
});

</script>
