<!DOCTYPE html>
<html>
  <head>
    <title>Proverbs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<nav class="navbar navbar-default navbar-expand-sm">
		Various Chapters from Proverbs
		&nbsp;&nbsp;&nbsp;<%= link_to 'Home', root_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Proverbs 1', static_pages_proverbs1_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Proverbs 4', static_pages_proverbs4_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Proverbs 7', static_pages_proverbs7_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Proverbs 16', static_pages_proverbs16_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Proverbs 19', static_pages_proverbs19_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Proverbs 20', static_pages_proverbs20_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Proverbs 21', static_pages_proverbs21_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Proverbs 27', static_pages_proverbs27_path, method: :get %>
	</nav>

	<div class="center jumbotron jumbotron-fluid">
		<div class="container">
			&nbsp;<h2>Proverbs <span id="bar">|</span>
			<%= yield(:title) %></h2>
			<%= yield(:p) %></p>
		</div>
	</div>
		

  <body>
    <%= yield %>
  </body>
</html>
