<!DOCTYPE html>
<html>
  <head>
		<title><%= @titleName %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
    <script> 
			zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
			ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
		</script>

  </head>

	<nav class="navbar navbar-default navbar-expand-sm">
		&nbsp;&nbsp;<%= link_to 'Proverbs', root_path, method: :get %>
		<% @chapters.each do |ch| %>
			<%= link_to "#{ch}", niv_bible_proverbs_path(:chapNum => "#{ch}"), method: :get %>
		<% end %>
	</nav>

	<div class="center jumbotron jumbotron-fluid">
		<div class="container">
			<h1 style="font-size: 74px">
				Proverbs&nbsp;<span id="bar">|</span>&nbsp;<%= yield(:title) %>
			</h1>
			<center>
				<p class="min-p-width jumbotron-yield-p">
					<%= yield(:p) %>
				</p>
				<%= @note %>
			</center>
		</div>
	</div>
		

  <div style="padding-top: 0px; padding-right: 75px; padding-left: 75px">
    <%= yield %>
  </div>

	<footer class="navbar-default navbar-fixed-bottom">
		<div class="container-fluid" style="margin-bottom: 10px;">
			<br>&nbsp;<br>
		</div>
	</footer>

</html>
